/*General Styles*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
} 


ul,
nav {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	opacity: 1;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 100px 80px;
}

.hero,
.destinations,
.packages,
.testimonials,
.contact {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media screen and (max-width: 800px) {

	a {
		opacity: inherit;
	}

	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

header {
	color: #fff;
	position: absolute;
	width: 100%;
	font-size: 1.3em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px 100px 0;
	z-index: 2;
	background-color: #66a4d0;

}

header h2 {
	font-family: 'Quicksand', 'sans-serif';
	margin-bottom: 25px;
}

header nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -15px;
	margin-bottom: 25px;
	height: 2.5vh;

}

header nav li {
	margin: 0 15px;
}

@media screen and (max-width: 700px) {
	header {
		padding: 10px 10px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

	}

	header nav {}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/
.hero {
	color: #fff;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}

.hero .backimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;

}

.dynamic-shadow {
	position: relative;
	width: 10rem;
	height: 10rem;
	background: linear-gradient(75deg, #6d78ff, #00ffb8);
	z-index: 1;
}

.dynamic-shadow::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	top: 0.5rem;
	right: 0;
	-webkit-filter: blur(0.4rem);
	filter: blur(0.4rem);
	opacity: 0.7;
	z-index: -1;
}


.hero .content-area {
	opacity: 0;
	margin-top: 100px;
	-webkit-animation: 1s slidefade 1s forwards;
	animation: 1s slidefade 1s forwards;
}

@-webkit-keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*Destinations Style*/
.destinations .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.destinations .grid li.small {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

.destinations .grid li.large {
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
}

@media screen and (max-width: 1100px) {

	.destinations .grid li.small,
	.destinations .grid li.large {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
}

@media screen and (max-width: 800px) {

	.destinations .grid li.small,
	.destinations .grid li.large {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
}

/*Packages Styles*/

.packages .grid li {
	padding: 50px;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #8c9eff;
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media screen and (max-width: 800px) {
	.packages .grid li {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Testimonials Styles*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media screen and (max-width: 700px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}

/*Contact Styles*/
.contact form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

@media screen and (max-width: 1000px) {
	.contact form input {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/*Footer Styles*/
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #607d8b;
	color: #fff;
	padding: 20px 0;
}


footer div a {
	font-size: 1.2em;
}

footer div {
	margin-left: 10px;
}

footer div a {
	margin: 0 15px 0 15px;
}

footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

footer ul li {
	margin-left: 16px;
}


@media screen and (max-width: 480px) {
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	footer div {
		margin: 20px 0 20px 7px;
	}


	footer ul li {
		margin: 0 10px;
	}
}

/*Pricing Styles*/
.pricing-table {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	text-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 20vh 0 0 0;
	font-size: 1.4em;
	width: 100%;
	min-height: 95vh;
}

.bgc {
	background: linear-gradient(45deg, #61daef, #8a9ef8);
}

.pricing-table ul li:nth-child(2) {
	background-color: #f5f5f5;

}

.price-box {
	-webkit-box-shadow: 2px 2px 5px 0 rgba(64, 69, 66, 0.9);
	box-shadow: 2px 2px 5px 0 rgba(64, 69, 66, 0.9);
	margin: 26px 5px 20px 0;
	width: 320px;
	-webkit-transition: 200ms;
	transition: 200ms;
	background-color: #fff;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.price-box:hover {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
}

.price-box li {
	padding: 25px 70px;
	border-bottom: 1px dotted rgba(166, 170, 165, 0.3);
}

.price-title {
	background-color: #5786f4;
	color: #fff;
}

.price {
	font-size: 1.7em;
}

.person {
	color: #7b7474;
	font-size: 0.7em;
}

.price-btn {
	background-color: #f5f5f5;
}

.button {
	cursor: pointer;
	padding: 5px 30px;
	border-radius: 5px;
	background-color: #5786f4;
	color: #fff;
	letter-spacing: 1px;
	opacity: 1;
}

.pricing-footer {
	margin-top: auto;
	min-height: 5vh;
}


@media screen and (max-width: 480px) {
	.pricing-table {
		margin-bottom: inherit;
		padding-bottom: 5vh;
	}
	
	.price-box {
		width: 300px;
		font-size: 0.9em;
		margin-bottom: 10px;

	}

	.price-box:hover {
		-webkit-transform: none;
		transform: none;
	}
	
	.pricing-footer {
		height: inherit;

	}
}

/*About Section*/

.about {
	height: 92.5vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	color: #fff;
	
}

.about h2 {
	text-align: center;
	margin-top: 10vh;
	font-size: 2.5em;
}

.about p {
	margin: 20vh auto 0 auto;
	font-size: 1.2em;
}

.about-footer {
	height: 7.5vh;
}

@media screen and (max-width: 372px) {
	.about p {
		margin-top: 15vh;
	}

}

@media screen and (max-width: 480px) {
	.about h2 {
		margin-top: 15vh;
	}
	
	.about p {
		font-size: 1em;
	}
	.about-footer {
		height: 17vh;
		padding-top: inherit;

	}
}

@media screen and (max-width: 800px) {
	.about h2 {
		font-size: 2em;
	}
	
	.about p {
		font-size: 1.1em;
	}

}

